# Virtual Environment
venv/
ENV/
env/
.env

# Python Cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# React / Node
node_modules/
frontend/node_modules/
build/
.eslintcache

# Local Persistent Cache & Sandbox
_tmp/

# IDEs
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db
